.container{
    height: 500px;
    width: 500px;
    background-color: yellow;
    border: 2px solid orange;


    
}

.box{
    width: 150px;
    height: 150px;
    background-color: red;
    color: wheat;
    border: 2px solid brown;
    margin: 40px;
    transition: transform 3s cubic-bezier(1, 0.83, 0.41, 1.36) 1s;
}

.box:hover{

    background-color: green;

    /* transform:  */

    transform: translateX(500px) rotate(360deg);;
}