*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    /* min-width: 540px; */
    min-height: 100vh;
    background: linear-gradient(45deg,blue ,rgb(77, 173, 197),rgb(132, 191, 224));
    padding: 10px;
}

.to-do-app{
    width: 100%;
    background: white;
    max-width: 540px;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}
.to-do-app h2{
    margin: 12px 24px 10px;
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;  
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 505;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;

    top: 10px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./images/checked.png);
}

ul li span{
    position: absolute;
    top: 5px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background : #edeef0;
    border-radius: 50%;
}